@model IEnumerable<LexShop.Model.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var category in Model) {
        <tr>
            <td>
                <img src="~/files/categories/@Html.DisplayFor(modelItem => category.HeaderImageName)" height="80"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => category.Description)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@category.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
