@model CategoryViewModel

@{
    var category = Model.Category;
    var products = Model.Products;
    var ancestors = Model.AncestorCategories;
    ViewData["Title"] = "Details";
}

<div>
    <img src="~/files/categories/@category.HeaderImageName" />
    <h3>@category.Name</h3>
    <hr />
    <div>
        @category.Description
    </div>
</div>
<div>
    <h6>Sub-categories</h6>
    @if (category.ChildCategories != null)
    {
        @foreach (var childCategory in category.ChildCategories)
        {
            <div>
                <a href="~/categories/@childCategory.Id">
                    <img src="~/files/categories/@childCategory.HeaderImageName" height="80" />
                    <h4>@childCategory.Name</h4>
                </a>
            </div>
        }
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
    @if (category.ParentCategoryId != null)
    {
        <a asp-action="View" asp-route-id="@category.ParentCategoryId">To parent</a>
    }

    @if (products != null)
    {
        @foreach (var product in products)
        {
            <div>
                <a href="~/products/@product.Id">
                    <img src="~/files/products/@product.IconName" height="80" />
                    <h4>@product.Name</h4>
                </a>
            </div>
        }
    }
</div>
