@model ProductViewModel

@{
    var product = Model.Product;
    ViewData["Title"] = product.Name;
}

<div>
    <h4>@product.Name</h4>
    <hr />
    <img src="~/files/products/@product.IconName" width="200" />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @product.Name
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @product.Description
        </dd>
        <dt>
            Price
        </dt>
        <dd>
            @product.BasePrice
        </dd>
        <dt>
            Vendor
        </dt>
        <dd>
            <a href="/vendors/@product.VendorId">@product.Vendor.Name</a>
        </dd>
        <dt>
            Category
        </dt>
        <dd>
            <a href="/categories/@product.CategoryId">@product.Category.Name</a>
        </dd>
    </dl>
</div>
<div>
    <a href="~/products/@product.Id/purchase">Add to cart</a>
</div>
